body {
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* DESKTOP */
/* Common */
.container {
  display: flex;
  height: 100vh;
  background-color: black;
}

.with-image-background {
  background-size: cover;
  background: linear-gradient();
}

.after-header {
  height: 87vh !important;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

header {
  display: flex;
  width: 100%;
  height: 13vh;
  font-family: Bebas Neue;
  background-color: #000000;
  color: rgba(219, 32, 44, 1);
  font-size: 5vw;
  justify-content: center;
  align-items: center;
  min-height: 40px;
}

.home-button {
  position: absolute;
  left: 1.67vw;
  top: auto;

  border: 0;
  width: 3.33vw;
  height: 3.33vw;
  min-width: 32px;
  min-height: 32px;
  background-size: cover;
  cursor: pointer;
}

.footer {
  flex-basis: 16.4%;
}

/* Home screen */
.title-wrapper {
  flex-basis: 10.2%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Bebas Neue;
  color: rgba(219, 32, 44, 1);
  font-size: 4vw;
}

.description-wrapper {
  display: flex;
  flex-basis: 53.9%;
  justify-content: center;
  align-items: center;

  font-family: Bebas Neue;
  color: white;
}

.size-description-wrapper {
  display: flex;
  width: 38.75%;
  height: 43%;
  font-size: 2.5vw;
  text-align: center;
}

.start-button-wrapper {
  display: flex;
  flex-basis: 19.5%;
  justify-content: center;
  align-items: center;
}

#start-button {
  background: rgba(20, 20, 20, 1);
  width: 27.24%;
  height: 100%;
  border: none;

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  color: rgba(219, 32, 44, 1);
  font-size: 3.75vw;

  cursor: pointer;
}

/* Question screen */
.divider {
  /* container properties */
  display: flex;
  align-items: center;
  justify-content: center;

  /* element properties */
  flex-basis: 10%;
}

.option-box {
  /* container properties */
  display: flex;
  flex-flow: column-reverse;

  /* element properties */
  flex-basis: 45%;

  background-size: cover;
  background-position-x: center;

  cursor: pointer;
}

.text-container {
  /* container properties */
  display: flex;
  width: 100%;
  height: 25%;
  background: rgba(0, 0, 0, 0.56);

  /* text properties */
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 3.33vw;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

#other-button {
  /* button properties */
  display: block;
  border-radius: 500px;
  border: 0;
  width: 10vw;
  height: 10vw;
  /* max-width: 140px;
  max-height: 140px; */
  background: rgba(20, 20, 20, 1);
  cursor: pointer;

  /* text properties */
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 2.75vw;
  text-align: center;
  color: #db202c;
}

/* Result screen */
.image-container {
  /* background-color: cornsilk; */
  background-size: cover;
  position: absolute;
  top: 13vh;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.bottom-box {
  /* background-color: darkgreen; */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  flex-basis: 51.9vh;
  display: flex;
  justify-content: space-between;
  padding-left: 1.04vw;
  padding-right: 1.04vw;
  max-height: 560px;
  z-index: 3;
}

.info-container {
  flex-basis: 39%;

  font-family: Bebas Neue;
  color: white;

  justify-content: flex-start;
  align-content: flex-start;
  display: inline-flex;
  flex-direction: column;
}

.image-title-info-wrapper {
  display: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  font-family: Bebas Neue;
  color: white;
  width: 62.8%;
  margin-bottom: 5.13vh;

  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
}

.description-container {
  flex-basis: 44.27%;
  font-family: Bebas Neue;
  color: white;
  /* background-color: slateblue; */

  display: flex;
  flex-flow: column;
}

.description-text-wrapper {
  flex-basis: 84.5%;
  display: flex;
}

.button-container {
  flex-basis: 15.5%;

  font-size: 2.08vw;
  color: rgba(229, 9, 20, 1);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-label {
  display: flex;
  margin-right: 1.04vw;
}

#similar-button {
  border-radius: 500px;
  border: 0;
  width: 3.91vw;
  height: 3.91vw;
  /* max-width: 140px;
    max-height: 140px; */
  min-width: 32px;
  min-height: 32px;
  background-size: cover;
  background-image: url(https://i.ibb.co/7CwHt7j/image-7.png);
}

.title {
  margin: 0;
  font-weight: normal;
}
h2 {
  font-size: 1.57vw;
  font-weight: normal;
  /* margin: 0; */
}
p {
  font-size: 1.57vw;
  font-weight: normal;
  /* margin: 0; */
}

.text-margin-top {
  margin-top: 1.35vw;
  margin-bottom: 0;
}

/* TABLET & MOBILE */
@media screen and (max-width: 1024px) and (orientation: portrait) {
  /* Common */
  .footer {
    display: none;
  }

  /* Home screen */
  .title-wrapper {
    font-size: 8.87vh !important;
  }

  .description-wrapper {
    flex-basis: 70.3% !important;
  }

  .size-description-wrapper {
    font-size: 3vh !important;
    width: 100% !important;
  }

  #start-button {
    width: 100% !important;
    font-size: 8.87vh !important;
  }

  /* Question screen */
  #other-button {
    width: 10vh !important;
    height: 10vh !important;
    font-size: 2.75vh !important;
  }

  #ob2 {
    flex-flow: column;
  }

  .text-container {
    font-size: 3.33vh !important;
  }

  .home-button {
    left: 1.67vh !important;
  }
}

/* MOBILE ONLY */
@media screen and (max-width: 768px) and (orientation: portrait) {
  /* Common */
  .container {
    flex-direction: column;
  }

  .after-header {
    height: 90.8vh !important;
  }

  /* Result screen */
  header {
    height: 7.37vh;
    font-size: 8vh;
  }

  .image-container {
    position: relative !important;
    flex-basis: 30.8%;
    top: 0% !important;

    display: flex;
    flex-flow: column-reverse;
    background-size: cover !important;
    background-repeat: no-repeat;
  }

  .image-title-info-wrapper {
    display: block !important;
  }

  .image-title-info-wrapper h2 {
    font-size: 1.45vh !important;
  }

  .bottom-box {
    flex-flow: column;
    flex-basis: 69.2% !important;
    justify-content: start !important;
  }

  .bottom-title-info-wrapper {
    display: none;
  }

  .info-container {
    flex-basis: auto !important;
  }

  .description-container {
    flex-basis: auto !important;
  }

  .button-container {
    position: absolute;
    width: 100%;
    height: 9.7%;
    min-height: 87px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 4.46vh !important;
    background-color: #000000;
  }

  #similar-button {
    width: 3.91vh;
    height: 3.91vh;
    margin-left: 6px;
    margin-right: 6px;
  }

  h1 {
    font-size: 7.5vh !important;
  }

  h2,
  p {
    font-size: 2.46vh !important;
  }

  .text-margin-top {
    margin-top: 1.35vh !important;
  }
}

/* TABLET ONLY */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Common */
  .container {
    flex-direction: column;
  }

  .after-header {
    height: 90.8vh !important;
  }

  /* Result screen */
  header {
    height: 7.37vh;
    font-size: 8vh;
  }

  .image-container {
    position: relative !important;
    flex-basis: 44.02% !important;
    top: 0% !important;

    display: flex;
    flex-flow: column-reverse;
  }

  .image-title-info-wrapper {
    display: block !important;
  }

  .image-title-info-wrapper h2 {
    font-size: 1.45vh !important;
  }

  .bottom-box {
    flex-flow: column;
    flex-basis: 69.2% !important;
    justify-content: start !important;
  }

  .bottom-title-info-wrapper {
    display: none;
  }

  .info-container {
    flex-basis: auto !important;
  }

  .description-container {
    flex-basis: auto !important;
  }

  .button-container {
    position: absolute;
    width: 100%;
    height: 9.7%;
    min-height: 87px;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 4.46vh !important;
    background-color: #000000;
  }

  #similar-button {
    width: 3.91vh;
    height: 3.91vh;
    margin-left: 6px;
    margin-right: 6px;
    min-width: 55px !important;
    min-height: 55px !important;
  }

  h1 {
    font-size: 7.5vh !important;
  }

  h2,
  p {
    font-size: 2.46vh !important;
  }

  .text-margin-top {
    margin-top: 1.35vh !important;
  }
}
