html,
body {
  margin: 0;
}

.container {
  flex-direction: column;
  display: flex;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/eb/51/35/eb513551a480899bccab61d5a2cf4cf2.jpg);
  background-size: cover;
  background: linear-gradient();
  background-color: black;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://i.pinimg.com/originals/eb/51/35/eb513551a480899bccab61d5a2cf4cf2.jpg);
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .footer {
    display: none;
  }
  .description-container {
    flex-basis: 70.3% !important;
  }
  #start-button {
    width: 100% !important;
    font-size: 8.87vh !important;
  }
  .title-container {
    font-size: 8.87vh !important;
  }
  .size-description-container {
    font-size: 3vh !important;
    width: 100% !important;
  }
}

.title-container {
  flex-basis: 10.2%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Bebas Neue;
  color: rgba(219, 32, 44, 1);
  font-size: 4vw;
}

.description-container {
  display: flex;
  flex-basis: 53.9%;
  justify-content: center;
  align-items: center;

  font-family: Bebas Neue;
  color: white;
}
.size-description-container {
  display: flex;
  width: 38.75%;
  height: 43%;
  font-size: 2.5vw;
  text-align: center;
}

.button-wrapper {
  display: flex;
  flex-basis: 19.5%;
  justify-content: center;
  align-items: center;
}

#start-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(20, 20, 20, 1);
  width: 27.24%;
  height: 100%;
  text-decoration: none;
}

#start-button {
  background: rgba(20, 20, 20, 1);
  border: none;

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  color: rgba(219, 32, 44, 1);
  font-size: 3.75vw;

  cursor: pointer;
}

.footer {
  flex-basis: 16.4%;
}
